* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: serif;
}

:root {
    --text-color: #fdfdfd;
    --main-color: rgb(41, 105, 148);
    --white-color: #fdfdfd;
    --border-color: 2px solid rgb(41, 105, 148);
}

html {
    overflow: auto;
}

body {
    background-color: black;
    overflow: hidden;
    color: var(--text-color);
    transition: 0.2s linear;
}

body.active {
    padding-left: 250px;
}

.logo {
    cursor: pointer;
}

.logo img {
    width: 100px;
    height: 100px;
}

section {
    padding: 70px;
    margin: 0 70px;
    max-width: 2000px;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    border-right: 2px solid var(--main-color);
    width: 250px;
    padding: 20px 20px;
    text-align: center;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-flow: column;
}

.header .navbar {
    width: 100%;
}

.header .navbar a {
    display: block;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 25px;
    font-weight: 550;
    padding: 10px;
    margin: 5px;
}

.header .navbar a.active,
.header .navbar a:hover {
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 50px;
}

.header .follow a {
    font-size: 35px;
    margin: 0 5px;
    cursor: pointer;
    color: var(--white-color);
    transition: 0.5s ease-in-out;
}

.header .follow a:hover {
    transform: rotate(360deg);
}

#menu-btn {
    position: absolute;
    top: 0;
    right: -51px;
    height: 45px;
    width: 50px;
    line-height: 45px;
    font-size: 30px;
    border-right: var(--border-color);
    border-bottom: var(--border-color);
    color: var(--white-color);
    cursor: pointer;
}

.header.active {
    left: 0;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    min-height: 100vh;
}

.home .image {
    flex: 1 1 400px;
}

.home .image img {
    height: 550px;
    padding: 30px;
    border: var(--border-color);
}

.home .content {
    flex: 1 1 400px;
}

.home .content h3 {
    font-size: 40px;
}

.home .content h1 {
    font-size: 60px;
    text-transform: uppercase;
}

.home .content h4 {
    font-size: 30px;
    padding-bottom: 10px;
}

.home .content a {
    font-size: 20px;
    font-weight: 500;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 25px;
    border-radius: 40px;
    color: var(--text-color);
    border: var(--border-color);
    transition: 0.5s ease-in-out;
}

.btn:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    transform: scale(1.2);
}

.heading {
    font-size: 60px;
    text-align: center;
    padding-bottom: 10px;
}

.line {
    font-size: 30px;
    text-align: center;
    padding-bottom: 25px;
}

.para {
    font-size: 25px;
    word-spacing: 5px;
    line-height: 40px;
}

span {
    color: var(--main-color);
}

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    min-height: 100vh;
}

.about-content {
    flex: 1 1 400px;
}

.about-img {
    flex: 1 1 400px;
}

.about-img img {
    height: 450px;
    width: 400px;
    padding: 30px;
    border: var(--border-color);
}

.services {
    align-items: center;
    min-height: 100vh;
}

.services .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
}

.services-container .services-box {
    flex: 2 2 60rem;
    padding: 30px 10px 20px;
    border-radius: 40px;
    text-align: center;
    align-items: center;
    border: var(--border-color);
    transition: 0.5s ease;
}

.services-container .services-box:hover {
    transform: scale(1.05);
    background: var(--main-color);
    cursor: default;
}

.services-box i {
    font-size: 40px;
    color: var(--white-color);
}

.contact {
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}

.contact-area {
    text-align: center;
}

.contact-area p {
    font-size: 30px;
    padding-bottom: 25px;
}

.contact-area .contact-content i {
    font-size: 70px;
}

.contact-area .contact-content a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 5px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 5px 15px 30px;
    transition: 0.8s ease-out;
}

.contact-area .contact-content a:hover {
    transform: rotate(360deg);
}

.box-container {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.box-container .box i {
    font-size: 25px;
    color: var(--main-color);
}

.box-container .box p {
    font-size: 15px;
    cursor: default;
}

.credit {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    cursor: default;
    background-color:var(--main-color);
}

.credit a {
    color: var(--white-color);
}

.credit a:hover {
    color:black;
}
